@import './formFields.module.css';

.group {
  composes: fieldGroup from './formFields.module.css';
}

.label {
  composes: fieldLabel from './formFields.module.css';
}

.control {
  composes: fieldControl from './formFields.module.css';
}